:root {
  --primary: #00203FFF;
  --accent: #ADEFD1FF;
}

body {
  margin: 0;
  font-family: Lato;
  font-size: 24px;
  color: var(--primary);
  background-color:var(--primary);
}

.header {
  color: var(--primary);
  background-color: var(--accent);
  margin: 0;
  padding: 1em;
  margin-bottom: 1em;
}

.content {
  display: flex;
  flex-direction: column;
}

.section {
  background-color: var(--accent);
  margin: 1em 4em;

  display: flex;
  flex-direction: column;
  padding: 1em;
}

.generalInfoDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.generalInfoDisplay * {
  margin: 0.5em;
}

li {
  list-style-type: none;
}

.displayTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li p {
  padding: 0 1.5em;
}

.savedTools {
  display: flex;
  justify-content: end;
  gap: 1em;
}

.savedTools button {
  margin: 0;
}

.hidden {
  display: none;
}

form {
  /* padding: 1em; */
  display: flex;
  flex-direction: column;
}

input, select, option, button, textarea {
  font-family: Lato;
  font-size: 24px;
  padding: 0.5em;
}

button {
  border: none;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--accent);
  font-weight: bold;
  margin-top: 1em;
  transition: 0.5s;
}

button:hover {
  background-color: var(--accent);
  color: var(--primary);
  transition: 0.5s;
}

.editButton {
  align-self: flex-end;
  background-color: var(--accent);
  color: var(--primary)
}

.editButton:hover {
  background-color: var(--primary);
  color: var(--accent);
}
